task2/server/autoshop_new.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions name="AutoShop"
             targetNamespace="http://192.168.0.15/~user14/SOAP1/task2/server/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://www.examples.com/wsdl/HelloService.wsdl"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

    <wsdl:types>
        <xsd:schema targetNamespace="http://schema.example.com">
            <xsd:complexType name="resultArray">
                <xsd:complexContent>
                    <xsd:restriction base="SOAP-ENC:Array">
                        <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="xsd:string[]" />
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>


    <message name="getCarsResponse">
        <part name="Result" type="tns:resultArray"/>
    </message>

    <message name="getDataRequest">
        <part name="Result" type="xsd:resultArray"/>
    </message>
    <message name="getDataRequestBuy">
        <part name="Result" type="xsd:string"/>
    </message>
    <message name="getOneDataRequest">
        <part name="id" type="xsd:int"/>
    </message>
    <message name="getCarsDataRequest">
        <part name="brand" type="xsd:string"/>
        <part name="model" type="xsd:string"/>
        <part name="year" type="xsd:int"/>
        <part name="engine" type="xsd:double"/>
        <part name="speed" type="xsd:double"/>
        <part name="color" type="xsd:string"/>
        <part name="priceFrom" type="xsd:double"/>
        <part name="priceTo" type="xsd:double"/>
    </message>
    <message name="getCarsDataRequestBuy">
        <part name="car_id" type="xsd:int"/>
        <part name="name" type="xsd:string"/>
        <part name="surname" type="xsd:string"/>
        <part name="payment" type="xsd:string"/>
    </message>
    <message name="getDataResponse">
        <part name="Result" type="tns:string"/>
    </message>

    <portType name="PortType">
        <operation name="getAllCars">
            <output message="tns:getCarsResponse"/>
        </operation>
        <operation name="getCarInfo">
            <input message="tns:getOneDataRequest"/>
            <output message="tns:getCarsResponse"/>
        </operation>
        <operation name="getSearchResult">
            <input message="tns:getCarsDataRequest"/>
            <output message="tns:getCarsResponse"/>
        </operation>
        <operation name="getCarRequestBuy">
            <input message="tns:getCarsDataRequestBuy"/>
            <output message="tns:getDataRequestBuy"/>
        </operation>
    </portType>

    <binding name="Binding" type="tns:PortType">
        <operation name="getAllCars"/>
        <operation name="getCarInfo"/>
        <operation name="getSearchResult"/>
        <operation name="getCarRequestBuy"/>
    </binding>

    <service name="CarsService">
        <port name="CarsPort" binding="Binding">
            <soap:address location="http://192.168.0.15/~user14/SOAP1/task2/server/index.php"/>
        </port>
    </service>
</definitions>